button{
    border: none;
    color: white;
    padding: 15px 20px;
    border-radius: 3px;
    margin-right: 10px;
}
.botao-preto{
    background-color: black;
    &:hover{
        box-shadow: 0px 10px 20px #767676;
    }
}
.botao-vermelho{
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;

    background-color: #8A1002 !important;
    border: none !important;
    &:hover{
        background-color: #C61400 !important;
        box-shadow: 0px 10px 20px rgba(198, 20, 0, 0.7);
        color: white;
    }
}
.botao-transparente-bwhite{
    background-color: transparent;
    border: white 1px solid;
    &:hover{
        box-shadow: 0px 10px 20px #767676;
    }
}
.botao-transparente-bred{
    background-color: transparent;
    border: #8A1002 1px solid;
    &:hover{
        box-shadow: 0px 10px 20px rgba(198, 20, 0, 0.7);
    }
}