button{
    border: none;
    color: white;
    padding: 15px 20px;
    border-radius: 3px;
    margin-right: 10px;
}
.botao-preto{
    background-color: black;

}
.botao-vermelho{
    background-color: #8A1002;
}
.botao-transparente-bwhite{
    background-color: transparent;
    border: white 1px solid;
}
.botao-transparente-bred{
    background-color: transparent;
    border: #8A1002 1px solid;
}