.background-veredas3{
    background-image: url(/AsIncorporadora/assets/imgs/background-veredas3.png);
    width: 100%;
    height: 360px;
    background-position: center;
}
.text-cinza-escuro{
    color:#4A4A4A;
}

.range{
    -webkit-appearance: none;
    background-color:#028A49;
    outline: none;
    border: none;
    height: 8px;
    border-radius: 100px;
    color: -internal-light-dark(rgb(185, 1, 1), rgb(255, 255, 255));

}
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%; 
    background: #00DD73;
}
.range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%; 

    background: #4A4A4A;
    cursor: pointer;
}
.fundo-vermelho{
    background-color: #8A1002;
}
.borda-fundo-vermelho{
    border-right:1px solid rgba(255, 255, 255, 0.185) ;
    border-left:1px solid rgba(255, 255, 255, 0.185) ;
}
.lupa{
    position:absolute;
    left: 20px;
    bottom: 20px;
}