@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tipografia";
@import "buttons";

*{
    font-family: 'Montserrat', sans-serif;
}
// v v v HEADER CSS v v v
header{
    height: 91px;
}
.offcanvas.offcanvas-end {
    width: 100%;
}
.menu{
    display: flex;
}
.menu ul li a{
    
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;

    
}
.nav-item{
    border-right: 1px solid rgba(0, 0, 0, 0.233);
    padding: 1.5rem;
}
.nav-link {
    color: black;
    text-align: center;
    width: 100%;
}
.close{
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0px 0px;
    background-color: white;
    padding-top: 10px;
}
.btn-close {
    opacity: 1;
    width: auto;
    height: auto;
    background: none;
    color: #000000;
}
.logo{
    position: absolute;
    top: 20px;
    left: 20px;
}

// ---FIM DO CSS HEADER---

// v v v INDEX CSS v v v
.background-capa{
    background-image: url(/AsIncorporadora/assets/imgs/background-capa.png);
    background-color: aqua;
    height: 569px;
    width: 100%;
    background-position: center;
}
hr {
    margin: 1rem 0;
    color: black;
    border-top: 9px solid;
    opacity: 1;
}
.border-bottom-cinza{
    border-bottom: 2px solid #C4C4C4;
}
.border-bottom-preta{
    border-bottom: 2px solid black;
}
.numero-1997{
    position: absolute;
    top: 11%;
    z-index: 1;
}
.text-white{
    z-index: 100;
}
input{
    background-color: black;
    border: 2px solid white;
    border-radius: 3px;
}
input::placeholder{
    color: white;
    padding-left: 10px;
}
.contato input, .contato select{
    padding: 15px;
}
.contato input, .contato textarea, .contato select{
    background-color: white;
    border: 1px solid #DADADA;
}

.contato input::placeholder, .contato textarea::placeholder{
    font-size: 17px;
    font-weight: 500;
    color: black;
    padding-left: 10px;
}
footer ul li{
    list-style-image: url(/AsIncorporadora/assets/imgs/list-style.png);
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    &:hover{
        opacity: 50%;
    }

}
footer ul li a{
    text-decoration: none;
    color: #000000;
    &:hover{
        color: #000000;
        text-decoration: underline;
    }
}
ul{
    margin: 0;
}
.politica a{
    &:hover{
        opacity: 50%;
    }
}
.redes img{
    &:hover{
        opacity: 50%;
    }
}
.background-footer{
    background-color: #028A49;
}
.footer-verde div{
    padding: 0 8% 0 8%;
    &:hover{
        background: #00b35c;
    }
}
.footer-vendas{
    border-left: 1px solid rgba(255, 255, 255, 0.144);
    border-right: 1px solid rgba(255, 255, 255, 0.144);
}
.swiper-button-next, .swiper-button-prev {
 position: relative;
 top: auto;
 width: auto;
 height: auto;
 left: auto;
 right: auto;
}
.mapouter {
    position: relative;
    text-align: right;
    height: 435px;
    width: 100%;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 435px;
    width: 100%;
}

@media (max-width: 400px) {

}